$white: #FFFFFF;
$text-color-primary: rgba(0, 0, 0, 0.87);
$text-color-secondary: rgba(0, 0, 0, 0.6);
$text-color-gray: #455A64;
$light-blue: #2563EB;
$info-blue: #0EA5E9;
$warning-orange: #F97316;
$select-gray: rgba(0, 0, 0, 0.08);
$active-gray: rgba(0, 0, 0, 0.54);
$gray:  #BDBDBD;
$light-gray: #FAFBFF;
$blue-gray: #CFD8DC;
$success-green: #10B981;
$dark-green: #059669;
$light-shadow: 0px 1px 3px rgba(112, 144, 176, 0.1), 0px 1px 2px rgba(112, 144, 176, 0.06);
$medium-shadow: 0px 4px 8px -2px rgba(112, 144, 176, 0.1), 0px 2px 4px -2px rgba(112, 144, 176, 0.06);
$backdrop-color: rgba(30, 58, 138, 0.7);
$strong-shadow: -18px 4px 45px rgba(30, 58, 138, 0.6);